<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== BOXICONS ===============-->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../../public/consultas.css" />

    <title>Dashboard Médico</title>
  </head>
  <body>
    <!--=============== NAV ===============-->
    <div class="nav" id="nav">
      <nav class="nav__content">
        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-chevron-right"></i>
        </div>

        <a href="/dashboard" class="nav__logo">
          <i class="bx bxs-heart"></i>
          <span class="nav__logo-name">Médico <br />Dashboard</span>
        </a>

        <div class="nav__list">
          <a href="/dashboard" class="nav__link">
            <i class="bx bx-grid-alt"></i>
            <span class="nav__name">Dashboard</span>
          </a>

          <a href="/consultas" class="nav__link active-link">
            <i class="bx bx-file"></i>
            <span class="nav__name">Consultas</span>
          </a>

          <a href="/verEmail" class="nav__link">
            <i class="bx bx-envelope"></i>
            <span class="nav__name">Emails</span>
          </a>
        </div>
      </nav>
    </div>

    <header class="header">
      <div class="header__logo">
        <a href="/dashboard"
          ><img src="../public/imgs/logo_heart.png" alt="Logo"
        /></a>
      </div>
      <div class="header__user-icon">
        <a href=""><i class="bx bx-user"></i></a>
      </div>
    </header>

    <section class="section__container">
      <main class="table">
        <section class="table__header">
          <h1>Consultas Paciente <%= paciente.nomePaciente %></h1>
        </section>
        <section class="table__body">
          <table>
            <thead>
              <tr>
                <th>ID Consulta</th>
                <th>Médico</th>
                <th>Data</th>
                <th>Horario</th>
                <th>Tipo de Consulta</th>
                <th>Status</th>
                <th>Alterar Consulta</th>
                <th>Excluir Consulta</th>
              </tr>
            </thead>
            <tbody>
              <% for (const consulta of consultas) { %>
              <tr>
                <td><%= consulta.idConsulta %></td>
                <td><%= consulta.nomeMedico %></td>
                <td>
                  <%= new Date(consulta.dataConsulta).toLocaleDateString() %>
                </td>
                <td><%= consulta.horaConsulta %></td>
                <td><%= consulta.tipoDeConsulta %></td>
                <td><%= consulta.statusDaConsulta %></td>
                <td>
                  <a
                    href="/alterarConsulta/<%= consulta.idConsulta %>"
                    class="btn btn-warning"
                    >Alterar</a
                  >
                </td>
                <td>
                  <form
                    action="/excluirConsulta/<%= consulta.idConsulta %>"
                    method="post"
                  >
                    <button type="submit" class="btn btn-danger">
                      Excluir
                    </button>
                  </form>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </section>
      </main>
    </section>
  </body>
</html>
